<html>
	<head>
		<title>Guess the Language!</title>
	</head>
	<body>
		<h1>Guess the Language!</h1>
		<p>Error: {{ error }}</p>
		<p>Click <a href="{{ url_for('index') }}">here</a> to begin a new game.</p>
	</body>
</html>