<html>
	<head>
		<title>Guess the Language!</title>
	</head>
	<body>
		<h1>Guess the language!</h1>
		<p>My guess: {{ guess }}</p>
		<p>Was I right?</p>
		<form method="POST">
			{{ form.hidden_tag() }}
			<p>
			{% for option in form.answer %}
				{{ option }} {{ option.label }}<br>
			{% endfor %}
			{% for error in form.answer.errors %}[{{ error }}]{% endfor %}
			</p>
			{{ form.submit }}
	</body>
</html>