<html>
	<head>
		<title>Guess the Language!</title>
	</head>
	<body>
		<h1>Guess the Language</h1>
		<p>Think of your favorite programming language. I'm going to try to guess it!</p>
		<p>Ready? Click<a href="{{ url_for('question') }}"> here</a> to begin!</p>
	</body>
</html>